<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDonGb2fF3m2LOVbsWvqmBbiNegM__ZSoE</string>
	<key>GCM_SENDER_ID</key>
	<string>542520811798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobhubv20</string>
	<key>PROJECT_ID</key>
	<string>fir-job-1acda</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-job-1acda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542520811798:ios:c0fbcf0f38c60ff7a7b037</string>
</dict>
</plist>